h1 {color: hotpink; 
	font-family: cursive;
	background: lightblue;}
body {background-color: lightblue;
	}
p {color: hotpink;
	font-family: cursive;
font-size: large;}

.section1{background: lightblue;
		width: 25%;
		float: left;}

.section2{background: lightblue;
		width: 25%;
		float: right;}

.section3{background: lightblue;
		width: 75%;
		float: none;}

#img1{
	float: left;
}
#img2{
	float: right;
}
#img3{
	float: none;
}
#img4{  position: absolute;
  left: 530px;
  top: 300px;
  z-index: 1;
}