.publish-time {color: gray;}
.destination {font-family: cursive; color: orange;}
.description {font-weight: bold;}
#italy {color:green;}
#china {color: red;}
#southkorea {color: blue;}
.destination-image {height: 300px; width: 550px;}
#koreaimage {border-radius: 12px;}