body {
    color: #458023;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #473CC3;
    -webkit-text-stroke: 1px rgb(65, 92, 58);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  }
  h1{
      font-size: 40px;
  }

  h2 {
    text-align: center;
  }
  
  p{
      font-size: 20px;
  }

  section {
    margin: 20px auto;
    text-align: center;
  }
  
  button {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 14px 18px;
  }

  .color-div {
    height: 60px;
    background-color: green;
  }
  
  video {
    width: 80%;
    height: auto;
  }
  