body{
  background-color: #46c762;
  color: #287d8b;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h1{
  color: #2f96a8;
  -webkit-text-stroke: 1px #236a77;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

h2{
  -webkit-text-stroke: 1px #236a77;
  font-size: 28px;
}

img{
  border:3px solid #2f96a8;
  border-radius: 4px;
  text-align: center;
}

button {
  color: #287d8b;
  background-color: #86da98;
  font-weight: bold;
  font-size: 15px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  transition-duration: 0.3s;
  text-orientation: upright;
  text-transform: uppercase;
  border:2px solid #2f96a8;
  border-radius: 12px;
  padding: 10px 6px;
  cursor: pointer;
}

button:hover{
  background-color: #86da98;
  color: white;
}

#container {
  display: flex;
  justify-content: center;   
}

#container-2 {
display: flex;
justify-content: space-evenly;
}

/*SIDEBAR STYLING*/
/*css referenced from w3schools-https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapse_sidebar*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #86da98;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 4px 4px 4px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2f96a8;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #46c762;
}

.sidebar ul {
  padding: 4px 4px 4px 32px;
  font-size: 12px;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 40px;
}

.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: #46c762;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #86da98;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/*SIDEBAR STYLING ENDS*/

/**/
#mission {
  background-color: #b1e9bd;
  color: #287d8b;
  font-size: 20px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  transition-duration: 0.3s;
  text-orientation: upright;
  border:2px solid #2f96a8;
  border-radius: 30px;
  padding: 5px 6px;
}
/**/

#takesurvey {
  font-weight: bold;
}

#survey {
  display: flex;
  float: right;
  background-color: #86da98;
  color: #287d8b;
  font-weight: bold;
  font-size: 15px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  transition-duration: 0.3s;
  text-decoration: none;
  text-transform: uppercase;
  border:2px solid #2f96a8;
  border-radius: 12px;
  padding: 10px 6px;
}

#survey:hover {
  background-color: #86da98;
  color: white;
}

/*footer divider*/
.divider {
  height:3px;
  border-width:0;
  color:#2f96a8;
  background-color:#2f96a8;
  margin: 4rem 0;
  margin-bottom: 0;
}

/*styling for the counter buttons*/
.flex-container {
  display: flex;
  align-self: center;
  justify-content: center;
}

.flex-container > div {
  background-color: #86da98;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #287d8b;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 6px;
  border:2px solid #2f96a8;
}
/*end of styling for counter buttons*/